<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <staticContent>
            <mimeMap fileExtension=".ini" mimeType="text/plain" />
            <mimeMap fileExtension=".jnlp" mimeType="application/x-java-jnlp-file" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <urlCompression doDynamicCompression="true" />
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="webmaster@wolfkingdom.net">
                <network defaultCredentials="false" host="localhost" password="" userName="" />
                <specifiedPickupDirectory pickupDirectoryLocation="C:\Users\wolfkingdom\Desktop" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
