<!-- IF S_JUSTIFY -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h3>{L_ACTIVATION_JUSTIFICATION}</h3>
	<p>{L_JUSTIFICATION_EXPLAIN}</p>
	<fieldset class="fields2">
	<dl>
		<dt><label for="justify">{L_JUSTIFICATION}:</label><br />{JUSTIFY_MIN_MAX}</dt>
		<dd><textarea name="justify" id="justify" class="medium">{JUSTIFICATION}</textarea></dd>
	</dl>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->